<!doctype html>
<html class="x-admin-sm">
    <head>
        <meta charset="UTF-8">
        <title>GoAdmin</title>
        <meta name="renderer" content="webkit|ie-comp|ie-stand">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
        <meta http-equiv="Cache-Control" content="no-siteapp" />
		<link rel="icon" href="favicon.ico" mce_href="favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="./css/font.css">
        <link rel="stylesheet" href="./css/xadmin.css">
         <link rel="stylesheet" href="./css/theme5.css">
        <script type="text/javascript" src="./js/jquery.min.js"></script>
        <script src="./lib/layui/layui.js" charset="utf-8"></script>
        <script type="text/javascript" src="./js/xadmin.js"></script>


        <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
        <!--[if lt IE 9]>
          <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
          <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <script>
            // 是否开启刷新记忆tab功能
            // var is_remember = false;
            // $(function () {
            //    if(localStorage.getItem("myproject_username")==null||localStorage.getItem("myproject_username")==''){
            //        location.href='login.html';
            //    }
            // })
        </script>
        <script src="data/sensor.js"></script>
        <link rel="stylesheet" href="lib/layui/css/layui.css">
        <script src="data/dataServer.js"></script>
    </head>
    <body class="index" style="background-color: white;">
        <!-- 顶部开始 -->
        <div class="container">
            <div class="logo">
                <a href="./index.html">GoAdmin</a></div>
            <div class="left_open">
                <a><i title="展开左侧栏" class="iconfont">&#xe699;</i></a>
            </div>
            <ul class="layui-nav left fast-add" lay-filter="">
<!--                <li class="layui-nav-item">-->
<!--                    <a href="javascript:;">+新增</a>-->
<!--                    <dl class="layui-nav-child">-->
<!--                        &lt;!&ndash; 二级菜单 &ndash;&gt;-->
<!--                        <dd>-->
<!--                            <a onclick="xadmin.open('最大化','http://www.baidu.com','','',true)">-->
<!--                                <i class="iconfont">&#xe6a2;</i>弹出最大化</a></dd>-->
<!--                        <dd>-->
<!--                            <a onclick="xadmin.open('弹出自动宽高','http://www.baidu.com')">-->
<!--                                <i class="iconfont">&#xe6a8;</i>弹出自动宽高</a></dd>-->
<!--                        <dd>-->
<!--                            <a onclick="xadmin.open('弹出指定宽高','http://www.baidu.com',500,300)">-->
<!--                                <i class="iconfont">&#xe6a8;</i>弹出指定宽高</a></dd>-->
<!--                        <dd>-->
<!--                            <a onclick="xadmin.add_tab('在tab打开','member-list.html')">-->
<!--                                <i class="iconfont">&#xe6b8;</i>在tab打开</a></dd>-->
<!--                        <dd>-->
<!--                            <a onclick="xadmin.add_tab('在tab打开刷新','member-del.html',true)">-->
<!--                                <i class="iconfont">&#xe6b8;</i>在tab打开刷新</a></dd>-->
<!--                    </dl>-->
<!--                </li>-->
            </ul>
            <ul class="layui-nav right" lay-filter="">
                <li class="layui-nav-item">            <h1 style="font-size: 24px;" id="a_title"></h1></li>
                <li class="layui-nav-item">
                    <a href="javascript:;" id="login_userName">admin</a>
                    <dl class="layui-nav-child">
                        <!-- 二级菜单 -->
                        <dd>
                            <a onclick="xadmin.open('个人信息','about.html')">个人信息</a></dd>
                        <dd>
<!--                            <a onclick="xadmin.open('切换帐号','http://www.baidu.com')">切换帐号</a></dd>-->
                        <dd>
                            <a href="./login.html" onclick="quitRotbot()">退出</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item to-index">
                    <a href="#" onclick="openOneMap()">前台首页</a></li>
            </ul>
        </div>
        <!-- 顶部结束 -->
        <!-- 中部开始 -->
        <!-- 左侧菜单开始 -->
        <div class="left-nav">
            <div id="side-nav">
                <ul id="nav">
                    <li>
                        <a href="javascript:;">
                            <i class="iconfont left-nav-li" lay-tips="数据管理">&#xe6b8;</i>
                            <cite>数据管理</cite>
                            <i class="iconfont nav_right">&#xe697;</i></a>
                        <ul class="sub-menu">
                            <li>
                                <a onclick="xadmin.add_tab('数据管理(用户管理)','userlist.html',true)">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>用户管理</cite></a>
                            </li>



                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <i class="iconfont left-nav-li" lay-tips="统计报表">&#xe723;</i>
                            <cite>统计报表</cite>
                            <i class="iconfont nav_right">&#xe697;</i></a>
                        <ul class="sub-menu">
                            <li>
                                <a onclick="xadmin.add_tab('统计信息','sensorChartByHour.html')">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>统计信息</cite></a>
                            </li>
                            <li>
                                <a onclick="xadmin.add_tab('统计折线','pcResourceChartAll.html')">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>数据折线</cite></a>
                            </li>

                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <i class="iconfont left-nav-li" lay-tips="日志管理">&#xe723;</i>
                            <cite>日志管理</cite>
                            <i class="iconfont nav_right">&#xe697;</i></a>
                        <ul class="sub-menu">
                            <li>
                                <a onclick="xadmin.add_tab('断网统计','logNetworkListGather.html')">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>断网统计</cite></a>
                            </li>
                            <li>
                                <a onclick="xadmin.add_tab('网络日志','logNetworkList.html')">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>网络日志</cite></a>
                            </li>


                        </ul>
                    </li>
                    <li id="sys_settingMeun">
                        <a href="javascript:;">
                            <i class="layui-icon layui-icon-set" lay-tips="系统设置"></i>
                            <cite>系统设置</cite>
                            <i class="iconfont nav_right">&#xe697;</i></a>
                        <ul class="sub-menu">
                            <li>
                                <a onclick="xadmin.add_tab('系统设置','settings.html')">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>系统设置</cite></a>
                            </li>
                            <li>
                                <a onclick="xadmin.add_tab('短信设置','WarningPhoneList.html')">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>短信设置</cite></a>
                            </li>

                        </ul>
                    </li>


                </ul>
            </div>
        </div>
        <!-- <div class="x-slide_left"></div> -->
        <!-- 左侧菜单结束 -->
        <!-- 右侧主体开始 -->
        <div class="page-content">
            <div class="layui-tab tab" lay-filter="xbs_tab" lay-allowclose="false">
                <ul class="layui-tab-title">
                    <li class="home">
                        <i class="layui-icon">&#xe68e;</i>我的桌面</li></ul>
                <div class="layui-unselect layui-form-select layui-form-selected" id="tab_right">
                    <dl>
                        <dd data-type="this">关闭当前</dd>
                        <dd data-type="other">关闭其它</dd>
                        <dd data-type="all">关闭全部</dd></dl>
                </div>
                <div class="layui-tab-content">
                    <div class="layui-tab-item layui-show">
                        <iframe src='./userlist.html' frameborder="0" scrolling="yes" class="x-iframe"></iframe>
                    </div>
                </div>
                <div id="tab_show"></div>
            </div>
        </div>
        <div class="page-content-bg"></div>
        <style id="theme_style"></style>
    </body>
<script type="text/javascript">
    $(function () {
        // let loginUser=JSON.parse(localStorage.getItem("robotUser"));
        // if(loginUser==null){
        //     location.href='login.html';
        //     return;
        // }
        // let username=loginUser.username;
        // $("#login_userName").html(username);
        // setTitle();
        // //如果不是管理员
        // if(!sensorServer.getRoleIsAdmin()){
        //     $("#sys_settingMeun").hide();
        // }
    })


</script>
<script type="text/javascript">


    $(function () {
        showMsg("欢迎使用本系统！！")
    });

    function  showMsg(msg) {
        if(msg=="")
            return;
        let text=msg;
        layer.open({
            type: 1
            ,title: "欢迎消息"
            ,offset: "rb" //具体配置参考：http://www.layui.com/doc/modules/layer.html#offset
            ,id: 'layerDemo1' //防止重复弹出
            ,content: text  //弹出网页 ,content: 'http://www.baidu.com' 上边的type 设置为2即可
            ,btn: '关闭全部'
            ,btnAlign: 'c' //按钮居中
            ,shade: 0 //不显示遮罩
            ,area: ['400px']
            ,yes: function(){
                layer.closeAll();
            }
        });
        $("#layerDemo1").html(text);
    }

    function playAudioMsg(msg){
        //debugger;
        let lastPlayAudioTime=localStorage.getItem("lastPlayAudio");
        if(lastPlayAudioTime!=null){
           let nowTime=parseInt(new Date().getTime()/1000);
           let lastTime=parseInt(lastPlayAudioTime);
           let chav=nowTime-lastTime;
            console.log('据上次播报差：'+chav);
            let chaMin=1;
            if(chav<chaMin){
               return ;
            }
            console.log('-----播报一次：'+chav);
        }

        let msgText="欢迎使用本系统！";
        console.log(msgText);
        var u = new SpeechSynthesisUtterance();
        u.text = msgText; //"你好。我要播放语音了。。。";
        u.lang = 'zh';
        //u.rate = 0.7   volume
        speechSynthesis.speak(u);

        //记录下最后的播放时间，用于设置播报间隔
        localStorage.setItem("lastPlayAudio",parseInt(new Date().getTime()/1000));
    }


</script>

</html>
